.about{
    &-page{
        @include flex_dlc(row,center,center)
    }
    &-ctn{
        @include flex_dlc(row,center,center);
        width:60%;
        min-width: 1400px;
        margin:auto;
    }
    &-stories-ctn{
        @include flex_dlc(column,flex-start,center);
        width:50%;
        min-height:700px;
        justify-content: space-between; 
        animation:openAllDesc 2s both;  
    }
    &-img-ctn{
        width:50%;
        min-height:700px;
    }
    &-img-mobile{
        width:90%;
        margin-bottom: 10px;
        animation: openImgMobile  2s both
    }    
    &-line{
        width:80%;
        min-width: 420px;        
        fill: $grey-dark;
    }
    &-story{
        &-ctn{
            @include flex_dlc(column,flex-start,center);
            width:100%;            
            &-title{
                @include flex_dlc(row,center,flex-start);
                width:100%;
                min-width: 420px;
                height: 60px;
                font-family: 'Rubik-Bold';
                font-size:25px;
                cursor: pointer;
                    &-notopen{
                        transition: transform ease-in-out 300ms;
                        &:hover{
                            transform: translateX(5px);
                            .about-story-icon{
                                fill:$blue-medium;
                            }
                            .about-story-title{
                                color:$blue-medium;                        
                            }
                        }
                    }
                }
                
            &-paragraphe{
                width:80%;
                font-size: 22px;
                min-width: 420px;
                animation: openDesc 2s both
            }
        }
        &-icon{
            width:25px;
            margin: 0 10px 0 10px;
            fill:$grey-dark;
            transition: fill ease-in-out 300ms;
            &-minus{
                fill:$blue-medium;
            }
        }
        &-title{
            min-width:377px;
            color:$grey-dark;
            transition: color ease-in-out 300ms;
            &-open{
                color:$blue-medium;
            }
        }
        &-desc{
            width:100%;
            text-indent: 50px;
            text-align: justify;
        }
    }    
}
@keyframes openAllDesc {
    0%{
        opacity: 0;
        translate: 30px 0px;
    }
    90%{
        opacity: 0.9;
    }
    100%{
        opacity: 1;
        translate: 0px 0px;
    }
}
@keyframes openDesc {
    0%{
        opacity:0;    
    }
    90%{
        opacity:0.9;
    }
    100%{
        opacity: 1;   
    } 
}

@keyframes openImgMobile {
    0%{
        opacity:0;
        scale:0.8;     
    }
    90%{
        opacity:0.9;
    }
    100%{
        scale:1;
        opacity: 1;     
    } 
}


@media screen and (max-width:1400px){
    .about{
        &-ctn{
            width:100%;
            min-width: 0px;
        }
        &-stories-ctn{
            width:45%;                   
         }
         &-img-ctn{
             width:45%;
         }
    } 
}

@media screen and (min-width:1023px) {
    .about-img-mobile{
        display: none;
    }
}

@media screen and (max-width:1023px){
    .about{
        &-ctn{
            align-items: flex-start;
        }
        &-stories-ctn{
            align-items: center;
            width:90%;
            margin-top:25px;
            margin-bottom: 100px;          
        }
        &-story{
            &-ctn{
                align-items: center;
                &-title{
                    justify-content: center;
                    min-width: 200px;
                    font-size:22px;  
                }
                &-paragraphe{
                    width:90%;
                    font-size: 18px;
                    min-width: 300px;
                }
            }
            &-title{
                min-width:280px;
            }
        }
        
        &-img-ctn{
            display: none;
        }
        &-line{    
            width:100%;        
            min-width: 100px;
        }
    }    
}