.about{
    &-ctn{
        width:70%;
        margin:auto;
    }
    &-stories-ctn{
       width:50%;
       min-height:700px;
       justify-content: space-between;   
    }
    &-img-ctn{
        width:50%;
        min-height:700px;
    }
    &-img-mobile{
        width:90%;
        margin-bottom: 10px;
    }
    &-line{
        width:80%;
        min-width: 420px;
        height: 2px;
        background-color: #3a3a3a;
        border: solid 1px #3a3a3a;
    }
    &-story{
        &-ctn{
            width:100%;            
            &-title{
                width:100%;
                min-width: 420px;
                height: 60px;
                font-family: 'RubikDirt-Regular';
                font-size:25px;
                cursor: pointer;
            }
            &-paragraphe{
                width:80%;
                font-size: 22px;
                min-width: 420px;
            }
        }
        &-icon{
            width:25px;
            margin: 0 10px 0 10px;
        }
        &-title{
            min-width:377px;
        }
        &-desc{
            width:100%;
            text-indent: 50px;
            text-align: justify;
        }
    }
    
}

@media screen and (max-width:1400px){
    .about{
        &-ctn{
            width:100%
        }
        &-stories-ctn{
            width:45%;                   
         }
         &-img-ctn{
             width:45%;
         }
    } 
}

@media screen and (min-width:1023px) {
    .about-img-mobile{
        display: none;
    }
}

@media screen and (max-width:1023px){
    .about{
        &-ctn{
            align-items: flex-start;
        }
        &-stories-ctn{
            align-items: center;
            width:90%;
            margin-top:155px;
            margin-bottom: 100px;          
        }
        &-story-ctn{
            align-items: center;
            &-title{
                justify-content: center;
                min-width: 300px;
                font-size:22px;  
            }
            &-paragraphe{
                width:90%;
                font-size: 18px;
                min-width: 300px;
            }
            &-title{
                min-width:200px;
            }
        }
        &-img-ctn{
            display: none;
        }
        &-line{    
            width:90%;        
            min-width: 300px;
        }
    }    
}