.cardDesktop{
    &-ctn{
        width:70%;
        margin-top: 180px;
    }
    &-cards{
        &-ctn{
            width:50%;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(3,1fr);
            min-height: 700px;
            height:700px;            
        }  
    }
      
    &-card{
        width:90%;
        height: 90%;
        justify-self: center;
        align-self: center;
        background-color: white;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
        border-radius: 15px;
        cursor: pointer;
        &-img{
            width:80%;
        }
        &:hover{
            box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
            .cardDesktop-card-img{
                width:90%;
            }
        }        
    }
    &-desc{
        &-ctn{
            width:50%;
            min-height: 700px;
        }
        &-title{
            &-ctn{
                width:100%;
            }
            &-h1{
                font-family: 'RubikDirt-Regular';
                font-size: 50px;
                font-weight: 500;
                margin-left:10px;
            }
        }
        &-languagesCtn{
            width:100%;
            flex-wrap: wrap;
        }
        &-languages{
            width:100px;
            height:auto;
            margin-left: 20px;
        }
        &-link-ctn{
            width:100%;
        }
        &-pitch{
            &-ctn{
                width:80%;
            }
            &-p{
                font-size:30px;
                text-align: justify;
                & span{
                    font-weight: bolder;
                } 
            }
        }
    }
    
    &-link{
        text-decoration: none;
        color: black;
        margin: 5px 0 5px 0;
        &-icon{
            width:30px;
            fill:black;
        }
        &-text {
            font-size: 28px;
            margin-left: 10px;
        }
    }
    &-githublink:hover{       
            color: #4d75b0;
            .cardDesktop-githublink-icon{
                fill: #4d75b0;
            }       
    }
    
    &-pagelink:hover{
            color: #4d75b0;
            .cardDesktop-pagelink-icon{
                fill: #4d75b0;
            }           
        }
}

@media screen and (max-width:1400px){
    .cardDesktop{
        &-ctn{
            width:100%;
        }
        &-cards-ctn{            
            width:45%;            
        }
        &-desc-ctn{
            width:45%;            
        }
        
    }
}

@media screen and (max-width:1023px) {
    .cardDesktop{
        &-ctn{
            display: none;
        }
    }
}