.cardDesktop{
    &-ctn{
        @include flex_dlc(row,flex-start,center);
        width:70%;
        min-width: 1400px;
        margin-top: 180px;
    }
    &-cards{
        &-ctn{
            width:50%;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(3,1fr);
            min-height: 700px;
            height:700px;
            animation:openProjectCards 2s both;            
        }  
    }
      
    &-card{
        @include flex_dlc(row,center,center);
        position: relative;
        width:90%;
        height: 90%;
        justify-self: center;
        align-self: center;
        background-color: white;
        box-shadow: 2.5px 2.5px 7.5px rgba(0,0,0,0.2);
        border-radius: 15px;
        cursor: pointer;
        transition:box-shadow ease-in-out 300ms;
        &-img{
            width:80%;
            transition:transform ease-in-out 300ms;
        }
        &-icon{
            position: absolute;
            opacity: 0.4;
            top:10px;
            right:10px;
            width:25px;
            height:25px;
            transition: opacity ease-in-out 300ms;
        }        
        &:hover{
            box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
            .cardDesktop-card-img{
                transform: scale(1.1);
            }
            .cardDesktop-card-icon{
               opacity: 1;
            }            
        }       
    }
    &-desc{
        &-ctn{
            @include flex_dlc(column,center,space-between);
            width:50%;
            min-height: 700px;                       
        }
        &-title{
            &-ctn{
                @include flex_dlc(column,center,space-between);
                width:100%;
            }
            &-h1{
                font-family: 'Rubik-Bold';
                font-size: 50px;
                font-weight: 500;
                margin-left:10px;
                //color:$blue-medium;
                background: linear-gradient(90deg,$grey-medium,$blue-medium);
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
        }
        &-languagesCtn{
            @include flex_dlc(row,center,center);
            width:100%;
            flex-wrap: wrap;
        }
        &-languages{
            width:100px;
            height:auto;
            margin-left: 20px;
        }
        &-link-ctn{
            @include flex_dlc(row,center,space-around);
            width:100%;
        }
        &-pitch{
            &-ctn{
                width:80%;
            }
            &-p{
                font-size:30px;
                text-align: justify;
                & span{
                    font-weight: bolder;
                } 
            }
        }
    }
    
    &-link{
        @include flex_dlc(row,center,center);
        text-decoration: none;
        color: $grey-medium;
        margin: 5px 0 5px 0;
        &-icon{
            width:30px;
            fill:$grey-medium;
            transition: fill ease-in-out 300ms;
        }
        &-text {
            font-size: 28px;
            margin-left: 10px;
        }
    }
    &-githublink{
        transition: all ease-in-out 300ms;
        &:hover{       
            color: $blue-medium;
            transform: scale(1.05);
            .cardDesktop-githublink-icon{
                fill: $blue-medium;
            }       
    }
    }
    
    &-pagelink{
        transition: all ease-in-out 300ms;
        &:hover{
            color: $blue-medium;
            transform: scale(1.05);
            .cardDesktop-pagelink-icon{
                fill: $blue-medium;
            }           
        }
    }
}

.desc-animation{
    animation:openProjectDesc 2s both ;
}

@keyframes openProjectDesc {
    0%{
        opacity: 0;
        translate: 30px 0px;
    }
    40%{
        opacity: 1;
    }
    100%{
        translate: 0px 0px;
    }
}

@keyframes openProjectCards {
    0%{
        opacity: 0;
        translate: -30px 0px;
    }
    40%{
        opacity: 1;
    }
    100%{
        translate: 0px 0px;
    }
}

@media screen and (max-width:1400px){
    .cardDesktop{
        &-ctn{
            width:100%;
            min-width: 0px;
        }
        &-cards-ctn{            
            width:45%;            
        }
        &-desc-ctn{
            width:45%;            
        }
        
    }
}

@media screen and (max-width:1023px) {
    .cardDesktop{
        &-ctn{
            display: none;
        }
    }
}