.card{
    &-ctn{
        width:90%;
        max-width:340px;
        height: 300px;
        background-color: white;
        margin: 10px 0 10px 0;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
        border-radius: 15px;
    }
    &-img-ctn{
        width:70%;
        max-width:180px;
        height:150px;
        & img{
            width:100%;
        }
    }
    &-link-ctn{
        width:90%;
        max-width:350px;
        font-size: 20px;
        font-weight: 600;
    }
    &-githublink{
        text-decoration: none;
        color: black;
        margin: 5px 0 5px 0;
        &-icon{
            width:25px;
            fill:black;
        }
        &-text {
            margin-left: 10px;
        }
        &:hover{
            color: #4d75b0;
            .card-githublink-icon{
                fill: #4d75b0;
            }           
        }
    }
    
    &-pagelink{
        text-decoration: none;
        color: black;
        margin: 5px 0 5px 0;
        &-icon{
            width:25px;
            fill:black;
        }
        &-text {
            margin-left: 10px;
        }
        &:hover{
            color: #4d75b0;
            .card-pagelink-icon{
                fill: #4d75b0;
            }           
        }
    }
}