.contact{
    &-ctn{
        width:70%;
        margin-top: 155px;        
    }
    &-pitch{
        &-ctn{
            font-size: 30px;
            animation:openContact 2s both;
        }
        &-text{
            text-align: center;
        }
        &-link{
            text-decoration: none;
            color: #4d75b0;
            &:hover{
                text-decoration:underline;
            }
        }
    }
    &-drawing{
        &-ctn{
            width:100%;
            margin-top: 25px;
            animation: openImgContact 2s both;
        }        
        &-mail{
            transform: rotate(-10deg);
        }
        &-linkedin{
            transform: rotate(10deg)
        }
    }
}

@keyframes openContact {
    0%{
        opacity: 0;
        translate: 0px -30px;
    }
    90%{
        opacity: 0.9;
    }
    100%{
        opacity: 1;
        translate: 0px 0px;
    }
}

@keyframes openImgContact {
    0%{
        opacity:0;
        scale:0.8;     
    }
    90%{
        opacity:0.9;
    }
    100%{
        scale:1;
        opacity: 1;     
    } 
}

@media screen and (max-width:1400px){
    .contact{
        &-ctn{
            width:100%
        }
    } 
}

@media screen and (max-width:1023px){
    .contact{
        &-pitch{
            &-ctn{
                font-size: 25px;
            }
        }
        &-drawing{
            &-ctn{
                flex-direction: column;
                height:520px;
            }
        }
    }
} 