.credits{
    &-page{
        @include flex_dlc(column,center,flex-start);
        width:60%;
        min-width: 1400px;
    }
    &-ctn{
        @include flex_dlc(column,center,space-between);
        margin-top:50px;
        height:300px;
        animation: openCredits 2s both;
    }
    &-link{
        text-decoration: none;
        text-align:center ;
        color:$grey-medium;
        font-size: 26px;
        transition:transform ease-in-out 300ms;
        margin: 40px 0 40px 0;
        &:hover{
            color:$blue-medium;
            transform: scale(1.05);
        }
    }
}

@keyframes openCredits {
    0%{
        opacity:0;
        translate: 0px 50px;     
    }
    40%{
        opacity:1;
    }    
    100%{
        translate: 0px 0px;     
    } 
}