.cv{
    &-page{
        @include flex_dlc(column,center,center);
    }
    &-ctn{
        @include flex_dlc(row,flex-start,center);
        margin: 25px 0 20px 0;
        width:60%;
        min-width: 1400px;      
    }
    &-skillTools-ctn{
        width:35%;
        margin-right:15px;  
        animation:openSkillTools 2s both;   
    }
    &-experiencesStudies-ctn{
        @include flex_dlc(column,center,flex-start);
        width:55%;
        margin-left:15px;
        animation:openExpStudies 2s both;
    }
    &-experiences-h2{
        margin-top: 0;
    }
    &-text{
        &-bold{
            font-weight: 600;
        }
        &-justify{
            text-align: justify;
        }
        &-blue{
            color:$blue-medium;
        }
        &-size{
            font-size:20px;
        }
    }
    
}

@keyframes openSkillTools {
    0%{
        opacity:0;
        translate: -30px 0px;
    }
    40%{
        opacity:1;
    }
    100%{
        translate:0px 0px
    }
}

@keyframes openExpStudies {
    0%{
        opacity:0;
        translate: 30px 0px;
    }
    40%{
        opacity:1;
    }
    100%{
        translate:0px 0px
    }
}

@media screen and (max-width:1400px){
    .cv{
        &-ctn{
            width:100%;
            min-width: 0px;
        }
    }
}

@media screen and (max-width:1023px){
    .cv{
        &-ctn{
            flex-direction: column-reverse;
            align-items: center;
        }
        &-skillTools-ctn{
            width:90%;
            margin-right:0px;
        }
        &-experiencesStudies-ctn{
            width:90%;
            margin-left:0px;
        }
    }
}