.d-flex{
    display: flex;
}

.f-d{
    &-row{
        flex-direction: row;
    }
    &-column{
        flex-direction: column;
    }
}

.j-c{
    &-center{
        justify-content: center;
    }
    &-spaceBetween{
        justify-content: space-between;
    }
    &-spaceAround{
        justify-content: space-around;
    }
    &-flexStart{
        justify-content: flex-start;
    }
    &-flexEnd{
        justify-content: flex-end;
    }
}

.a-i{
    &-center{
        align-items: center;
    }
    &-flexStart{
        align-items: flex-start;
    }
    &-flexEnd{
        align-items: flex-end;
    }
    &-stretch{
        align-items: stretch;
    }
}
