.drawings{
    &-ctn{
        display:grid;        
        width:100%;
        min-height: 700px ;
        animation: openCtn 0.8s both;
    }    
    &-one{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows:repeat(3,1fr);
    }
    &-two{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows:repeat(3,1fr);
    }    
    &-three{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows:repeat(4,1fr);
    }
}

@keyframes openCtn {
    0%{
        opacity:0;             
    }
    100%{
        opacity:1;
    }
}

@keyframes openUp{
    0%{
        translate: 0px 20px;
    }
    100%{
        translate: 0px 0px;
    }
}

@keyframes openDown{
    0%{
        translate: 0px -20px;
    }
    100%{
        translate: 0px 0px;
    }
}

@keyframes openRotateRightUp {
    0%{
        rotate: 10deg;
        translate: 20px 20px;
    }
    100%{
        rotate: 0deg;
        translate: 0px 0px;
    }
}

@keyframes openRotateRightDown {
    0%{
        rotate: 10deg;
        translate: 20px -20px;
    }
    100%{
        rotate: 0deg;
        translate: 0px 0px;
    }
}

@keyframes openRotateLeftUp {
    0%{
        rotate: -10deg;
        translate: -20px 20px;
    }
    100%{
        rotate: 0deg;
        translate: 0px 0px;
    }
}

@keyframes openRotateLeftDown {
    0%{
        rotate: -10deg;
        translate: -20px -20px;
    }
    100%{
        rotate: 0deg;
        translate: 0px 0px;
    }
}

.logo{
    &-one{
        width:150px;
        justify-self: center;
    }
    &-two{
        width:150px;
        justify-self: center;
    }
    &-three{
        width:150px;
        justify-self: center;        
    }
    &-sass{
        width:175px;
        grid-area: 1/1/2/2;
        align-self: flex-end;
        transform: rotate(-10deg);
        animation: openRotateRightUp 2s both;       
    }
    &-react{
        grid-area: 1/2/2/3;
        align-self: flex-start;
        animation: openUp 2s both; 
    }
    &-redux{
        grid-area: 1/3/2/4;
        align-self: flex-end;
        transform: rotate(10deg);
        animation: openRotateLeftUp 2s both;  
    }
    &-css{
        grid-area: 2/1/3/2;
        align-self: flex-end;
        transform: rotate(-10deg);
        animation: openRotateRightDown 2s both;   
    }
    &-html{
        grid-area: 2/2/3/3;
        align-self: flex-start;
        animation: openDown 2s both;       
    }
    &-javascript{
        grid-area: 2/3/3/4;
        align-self: flex-end;
        transform: rotate(10deg);
        animation: openRotateLeftDown 2s both;   
    }
    &-krita{
        grid-area: 1/1/2/3;
        align-self: flex-start;
        transform: rotate(-10deg);
        animation: openRotateRightUp 2s both;          
    }
    &-photoshop{
        grid-area: 1/3/2/5;
        align-self: flex-start;
        transform: rotate(10deg);
        animation: openRotateLeftUp 2s both;          
    }
    &-blender{
        width:170px;
        grid-area: 2/1/3/3;
        justify-self: flex-start;
        align-self: flex-start;
        transform: rotate(-10deg);
        animation: openRotateRightDown 2s both; 
    }
    &-inkscape{
        grid-area: 1/2/3/4;
        align-self: center;
        animation: openDown 2s both;
    }
    &-illustrator{
        grid-area: 2/3/3/5;
        justify-self: flex-end;
        align-self: flex-start;
        transform: rotate(10deg);
        animation: openRotateLeftDown 2s both; 
    }
    &-python{
        grid-area: 1/1/4/2;
        align-self: center;
        transform: rotate(-10deg);
        animation: openRotateRightUp 2s both;
    }
    &-sciences{
        width: 250px;
        grid-area: 1/2/2/4;
        animation: openUp 2s both;
    }
    &-freecad{
        grid-area: 1/4/4/5;
        align-self: center;
        transform: rotate(10deg);
        animation: openRotateLeftUp 2s both;
    }
}

.drawing{
    &-pc{
        width:300px;
        grid-area: 3/1/4/4;
        align-self: center;
        justify-self: center;
        transform: rotate(10deg);
        animation: openDown 2s both;  
    }
    &-tablet{
        width:350px;
        grid-area:2/2/4/4;
        align-self: flex-end;
        justify-self: center;
        transform: rotate(20deg);
        animation: openDown 2s both;
    }
    &-tools{
        width: 125px;
        grid-area: 3/1/5/3;
        align-self:center;
        justify-self: center;
        transform: rotate(-20deg);
        animation: openRotateRightDown 2s both;  
    }
    &-3dprinter{
        width: 300px;
        grid-area: 3/2/5/5;
        align-self: center;
        justify-self: center;
        transform: rotate(10deg);
        animation: openRotateLeftDown 2s both;  
    }
}


@media screen and (max-width:1023px){
    .drawings{
        &-ctn{
            min-height:500px;
        }
        &-three{
            grid-template-rows:repeat(3,1fr) 40px;
        }
    }
    
    .logo{
        &-one{
            max-width:100px;
            width:80%;
        }
        &-two{
            max-width:100px;
            width:50%;
        }
        &-three{
            max-width:120px;
            width:60%;  
        }
        &-sass{
            max-width:125px;
            width:100%;      
        }
        &-blender{
            max-width:120px;
            width:70%;
            align-self: center;
        }
        &-illustrator{
            align-self: center;
        }
        &-sciences{
            width:100%;
            max-width: 200px;            
        }
        &-python{
            grid-area: 1/1/3/3;
            align-self: center;
            justify-self: flex-start;
        }
        &-freecad{
            grid-area: 1/3/3/5;
            align-self: center;
            justify-self: flex-end;
        }
    }
    
    .drawing{
        &-pc{
            width:80%;
            max-width:250px;            
        }
        &-tablet{
            width:150%;
            max-width:250px;          
        }
        &-tools{
            max-width: 130px;
            width:80%;
            grid-area: 2/2/3/4;
            align-self: center;
            transform: rotate(-90deg);          
        }
        &-3dprinter{
            width:150%;
            max-width: 250px;
            grid-area: 3/1/5/5;
            align-self: flex-start;
                      
        }
    }    
}