.drawings{
    width:100px;
    &-ctn{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows:repeat(3,1fr);
        width:100%;
        min-height: 500px ;
    }    
    &-one{
        
    }
    &-two{

    }    
    &-three{
        
    }
}

.logo{
    &-one{
        width:100px;
        justify-self: center;
    }
    &-two{
        width:100px;
        justify-self: center;
    }
    &-three{
        width:100px;
        justify-self: center;        
    }
    &-sass{
        width:125px;
        grid-area: 1/1/2/2;
        align-self: flex-end;
        transform: rotate(-10deg);       
    }
    &-react{
        grid-area: 1/2/2/3;
        align-self: flex-start;
    }
    &-redux{
        grid-area: 1/3/2/4;
        align-self: flex-end;
        transform: rotate(10deg);  
    }
    &-css{
        grid-area: 2/1/3/2;
        align-self: flex-end;
        transform: rotate(-10deg);  
    }
    &-html{
        grid-area: 2/2/3/3;
        align-self: flex-start;       
    }
    &-javascript{
        grid-area: 2/3/3/4;
        align-self: flex-end;
        transform: rotate(10deg);  
    }
    &-krita{
        grid-area: 1/1/2/3;
        align-self: flex-start;
        transform: rotate(-10deg);          
    }
    &-photoshop{
        grid-area: 1/2/2/4;
        align-self: flex-start;
        transform: rotate(10deg);          
    }
    &-blender{
        width:120px;
        grid-area: 2/1/3/2;
        align-self: flex-start;
        transform: rotate(-10deg); 
    }
    &-inkscape{
        grid-area: 2/2/3/3;
        align-self: flex-start;
    }
    &-illustrator{
        grid-area: 2/3/3/4;
        align-self: flex-start;
        transform: rotate(10deg); 
    }
    &-python{
        grid-area: 1/1/2/2;
        align-self: flex-end;
        transform: rotate(-10deg);
    }
    &-sciences{
        width: 200px;
        grid-area: 1/2/2/3;
    }
    &-freecad{
        grid-area: 1/3/2/4;
        align-self: flex-end;
        transform: rotate(10deg);
    }
}

.drawing{
    &-pc{
        width:250px;
        grid-area: 3/1/4/4;
        align-self: center;
        justify-self: center;
        transform: rotate(10deg);  
    }
    &-pen{        
        grid-area:2/1/4/3;
        align-self: flex-end;
        justify-self: center;
    }
    &-tablet{
        width:250px;
        grid-area:2/2/4/4;
        align-self: flex-end;
        justify-self: center;
        transform: rotate(20deg);
    }
    &-tools{
        width: 125px;
        grid-area: 2/1/4/3;
        align-self: flex-start;
        justify-self: center;
        transform: rotate(10deg);  
    }
    &-3dprinter{
        width: 250px;
        grid-area: 2/2/4/4;
        align-self: center;
        justify-self: center;
        transform: rotate(10deg);  
    }
}


@media screen and (max-width:1023px){
    
    .drawing{
        &-tools{
            width: 100px;
        }
    }
}