@font-face {
    font-family: 'RubikDirt-Regular';
    src: url('./RubikDirt-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Nunito-Regular';
    src: url('./NunitoSans-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Nunito-Bold';
    src: url('./NunitoSans-Bold.ttf') format('truetype');
    font-display: swap;
}