@font-face {
    font-family: 'Roboto-Regular';
    src: url('./Roboto-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('./Roboto-Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Nunito-Regular';
    src: url('./NunitoSans-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Nunito-Bold';
    src: url('./NunitoSans-Bold.ttf') format('truetype');
    font-display: swap;
}