.footer{
    &-ctn{
        width:70%;
        min-width: 1400px;
        margin: auto;
        height: 110px;
        background-image: url('../assets/footer grey textured.jpg');
        background-size: cover;
        position: relative;
        animation:openFooter 1s both;
    }
    &-text{        
        font-size: 17.5px;
        font-weight: 600;
        color:white;
        text-align: center;
    }
    
    &-nav{
        &-list{
            list-style: none;
            padding-left:0;
            width:60%;
            max-width: 360px;
            z-index:25;            
        }
        &-elem{
            &-link{
                transition: transform ease-in-out 300ms;
                &:hover{
                    transform:scale(1.1);
                }
            }            
        }
        &-link{
            text-decoration: none;
            font-weight: 600;
            color:white;            
        }
        &-icon{
            width:20px;
            height:20px;
            fill:white;
            transition: transform ease-in-out 300ms;
            &:hover{
                transform:scale(1.15);
            }
        }
    }
}

@keyframes openFooter {
    0%{
        translate: 0px 100px;
    }
    100%{
        translate: 0px 0px;
    }
}

.tree{
    position: absolute;
    fill:white;
    z-index:1;
    &-1{
        bottom: 0;
        right:200px;
        height: 110px;
        animation: 5s ease-in-out 0s infinite both treeMovePattern;
    }
    &-2{
        bottom: 0;
        right: 120px;
        height: 80px;
        animation: 5s ease-in-out 0.4s infinite both treeMovePattern;
    }
    &-4{
        bottom: 0;
        right:150px;
        height: 110px;
        animation: 5s ease-in-out 0.8s infinite both treeMovePattern;
    }
    &-5{
        bottom: 0;
        right:350px;
        height: 80px;
        animation: 5s ease-in-out 1.2s infinite both treeMovePattern;
    }
    &-6{
        bottom: 0;
        right:0px;
        height: 120px;
        animation: 5s ease-in-out 1.6s infinite both treeMovePattern;
    }
}

@keyframes treeMovePattern {
    0%{
        transform: skewX(0deg);
        translate: 0px  0px ;
    }
    50%{
        transform:skewX(5deg);
        translate: -5px  0px ;
    }
    100%{
        transform: skewX(0deg);
        translate: 0px  0px ;
    }
}


@media screen and (max-width:1400px){
    .footer{
        &-ctn{
            width:100%;
            min-width: 0px;
            margin: none;
        }
    }
}

@media screen and (max-width:1023px){
    .footer{
        &-ctn{
            justify-content: flex-start;
            height: 220px;
        }
    }
    .tree-5{
        display: none;
    }
}
