.footer{
    &-ctn{
        width:70%;
        margin: auto;
        height: 100px;
        background-image: url('../assets/footer\ gray\ textured.jpg');
    }
    &-text{        
        font-size: 17.5px;
        font-weight: 600;
        color:white;
        text-align: center;
        animation:openFooter 1s both;
    }
    
    &-nav{
        &-list{
            list-style: none;
            padding-left:0;
            width:60%;
            max-width: 360px;
            animation:openFooter 1s both;
        }
        &-elem{

        }
        &-elem{
            &-link{
                transition: transform ease-in-out 300ms;
                &:hover{
                    transform:scale(1.1);
                }
            }            
        }
        &-link{
            text-decoration: none;
            font-weight: 600;
            color:white;            
        }
        &-icon{
            width:20px;
            height:20px;
            fill:white;
            transition: transform ease-in-out 300ms;
            &:hover{
                transform:scale(1.15);
            }
        }
    }
}

@keyframes openFooter {
    0%{
        translate: 0px 100px;
    }
    100%{
        translate: 0px 0px;
    }
}

@media screen and (max-width:1400px){
    .footer{
        &-ctn{
            width:100%;
            margin: none;
        }
    }
}