.header{
    &-main{
        width:70%;
        min-width: 1400px;
        margin: auto;
        height: 150px;        
        background-image: url('../assets/header yellow textured.jpg');
        background-size:cover;
        background-repeat: no-repeat;
        animation:openHeader 1s both;  
    }
    &-ctn{
    width: 100%;
    height: 150px;
    margin: auto;
    font-family: 'Rubik-Bold';
    position:relative;
      
    }
    &-logo{
        &-ctn{
            width:110px;
            height:110px;
            margin-left: 10px;
            border-radius: 50%;               
        }
        &-icon{
            width:95px;
            height:95px;
            fill:$grey-dark;
            z-index: 25;
            transition: all ease-in-out 0.5s;
            &:hover{
                fill:$blue-medium;
                transform:  scale(1.1);
            }
        }
    }
    &-dropdown-menu-ctn{
        position: absolute;
        background-color: white;
        top: 150px;
        right:0px;
        width:100%;
        z-index: 10;
        animation: dropMenuTranslation 1s both;
    }
}

@keyframes openHeader {
    0%{
        translate: 0px -150px;
    }
    100%{
        translate: 0px 0px;
    }
}

@keyframes dropMenuTranslation{
    0%{
        opacity:0;
        translate: 0px -10px
    }
    40%{
        opacity:1;
    }
    100%{
        translate: 0px 0px;
    }
}

.cloud{
    position:absolute;
    fill:white;
    z-index: 1;;
    &-1{
        top:5px;
        left:10px;
        animation: 5s ease-in-out 0s infinite both cloudMovePattern1
    }
    &-2{
        top:65px;
        left:150px;
        animation: 5s ease-in-out 0.4s infinite both cloudMovePattern2
    }
    &-3{
        top:20px;
        left:275px;
        animation: 5s ease-in-out 0.8s infinite both cloudMovePattern1
    }
    &-4{
        top:90px;
        left:400px;
        animation: 5s ease-in-out 1.2s infinite both cloudMovePattern2
    }
    &-5{
        width:75px;
        top:70px;
        left:10px;
        animation: 5s ease-in-out 1.6s infinite both cloudMovePattern3
    }
    &-6{
        width:50px;
        top:70px;
        left:330px;
        animation: 5s ease-in-out 2s infinite both cloudMovePattern3
    }
}

@keyframes cloudMovePattern1 {
    0%{
        translate:0px 0px;
        scale:1;
    }
    50%{
        translate:10px 5px;
        scale:1.05;
    }
    100%{
        translate:0px 0px;
        scale:1;
    }
}

@keyframes cloudMovePattern2 {
    0%{
        translate:0px 0px;
        scale:1;
    }
    50%{
        translate:12.5px -2.5px;
        scale:1.05;
    }
    100%{
        translate:0px 0px;
        scale:1;
    }
}

@keyframes cloudMovePattern3{
    0%{
        translate:0px 0px;
        scale:1;
    }
    50%{
        translate:15px 0px;
        scale:1.05;
    }
    100%{
        translate:0px 0px;
        scale:1;
    }
}


.nav{
    &-ctn{
        width:80%;
        max-width:900px;
        z-index: 25;
        &-mobile{
            width:100%;
        }
    }
    &-list{
        list-style: none;
        padding-left:0;
        margin-right: 25px;
        &-desktop{
            width:750px;
        }
        &-icon{
            margin-left: 25px;
            min-width: 150px;
            width: 150px;
            &-mobile{
                width: 100%;
            }
        }
        &-mobile{
            margin: 0;
            width:100%;
            justify-content: stretch;            
        }        
    }
    &-elem{
        &-desktop{
            transition:transform ease-in-out 300ms;
            &:hover{
                transform: scale(1.05);
            }
        }        
        &-mobile{
            text-align: center;
            padding: 45px 0 45px 0;
            transition:transform ease-in-out 300ms;
                &:hover{                    
                    transform: scale(1.05);
                }
            &-icons{
                width:250px;
                padding: 45px 0 45px 0;
                
            }          
        }
        &-brushline{
            fill:$grey-light;
            width:80%;
        }
    }
    &-link{        
        color:$grey-dark;
        text-decoration: none;
        font-size: 25px;
        transition: color ease-in-out 300ms;
        &:hover{
            color:$blue-medium;            
        }
        &-mobile{
            transition: color ease-in-out 300ms;
            &:hover{
                color:$blue-medium;
            }
        }
    }
    &-icon{
        width:30px;
        height:30px;
        fill:$grey-dark;
        transition: transform ease-in-out 300ms, fill ease-in-out 300ms;
        &:hover{
            fill:$blue-medium;
            transform:scale(1.2);
        }
    }
    &-three-bars-icon{
        width:50px;
        height:50px;
        fill:$grey-dark;
        display:none;
        cursor:pointer;
        margin-right: 15px;
        z-index: 26;
        transition:transform ease-in-out 300ms, fill ease-in-out 300ms;
        &:hover{
            fill:$blue-medium;
            transform: scale(1.05);
        }
    }
}

@media screen and (max-width:1400px){
    .header{
        &-main{
            width:100%;
            min-width: 0px;
            margin:none;
        }
    }
    .header{
        &-ctn{
            width:100%
        }
    } 
}

@media screen and (max-width:1023px){  
    .header{
        &-logo{
            &-ctn{
                width:80px;
                height:80px;
                margin-left: 10px;    
            }            
        }
    } 
    .nav{
        &-ctn{
            width:75%;
            max-width:300px;
            justify-content:flex-end;
        }
        &-list{
            &-desktop{
                display: none;
            }
            &-icon{
                display: none;
            }
        }
        &-three-bars-icon{
            display:block;
        }
    }
    .cloud{
        position:absolute;
        fill:white;
        z-index: 1;;
        &-1{
            width:100px;
            left:35px;
        }
        &-2{
            width:100px;
            left:100px;
        }
        &-3{
            width:100px;
            left:200px;
        }
        &-4{
            display: none;
        }
        &-5{
            width:75px;            
        }
        &-6{
            width:50px;
            left:250px;            
        }
    }
}