.header{
    &-main{
        width:100%;
        height: 150px;        
        background-image: url('../assets/wood texture header LD.jpg');
        background-size:cover;
        box-shadow:inset 0 -5px 5px rgba(0,0,0,0.4);
    }
    &-ctn{
    width: 70%;
    height: 150px;
    margin: auto;
    font-family: 'Rubik-Bold';
    position:relative;    
    }
    &-logo{
        &-ctn{
            width:110px;
            height:110px;
            margin-left: 10px;
            border-radius: 50%;                
        }
        &-icon{
            width:95px;
            height:95px;
            fill:url(#logo-gradient);
            transition: transform ease-in-out 0.5s;
            &:hover{
                transform:  scale(1.1);
            }
        }
    }
    &-dropdown-menu-ctn{
        position: absolute;
        top: 160px;
        right:0px;
        width:100%;
        height: 140px;
        animation: dropMenuTranslation 1s both;
    }
}

#logo-gradient{
    --color-stop:#282828;
    --color-bot:#344e76;
}

@keyframes dropMenuTranslation{
    0%{
        opacity:0;
        translate: 0px -10px
    }
    90%{
        opacity:0.9;
    }
    100%{
        opacity: 1;
        translate: 0px 0px;
    }
}

.nav{
    &-ctn{
        width:80%;
        max-width:900px;
        &-mobile{
            width:100%;
        }
    }
    &-list{
        list-style: none;
        padding-left:0;
        margin-right: 25px;
        &-desktop{
            width:750px;
        }
        &-icon{
            margin-left: 25px;
            min-width: 150px;
            width: 150px;
        }
        &-mobile{
            margin: 0;
            width:100%;
            height: 140px;
        }        
    }
    &-elem{
        &-desktop{
            transition:transform ease-in-out 300ms;
            &:hover{
                transform: scale(1.05);
            }
        }
        
        &-mobile{
            text-align: center;
            height:35px ;
            transition:transform ease-in-out 300ms;
                &:hover{
                    transform: scale(1.05);
                }          
        }
    }
    &-link{        
        color:$grey-dark;
        text-decoration: none;
        font-size: 25px;
        transition: color ease-in-out 300ms;
        //text-shadow: 5px 5px 10px rgba(0,0,0,1);
        &:hover{
            color:$blue-dark;            
        }
    }
    &-icon{
        width:30px;
        height:30px;
        fill:$grey-dark;
        transition: transform ease-in-out 300ms, fill ease-in-out 300ms;
        &:hover{
            fill:$blue-dark;
            transform:scale(1.2);
        }
    }
    &-three-bars-icon{
        width:50px;
        height:50px;
        fill:$grey-dark;
        display:none;
        cursor:pointer;
        margin-right: 15px;
        transition:transform ease-in-out 300ms, fill ease-in-out 300ms;
        &:hover{
            fill:$blue-dark;
            transform: scale(1.05);
        }
    }
}

@media screen and (max-width:1400px){
    .header{
        &-ctn{
            width:100%
        }
    } 
}

@media screen and (max-width:1023px){  
    .header{
        &-logo{
            &-ctn{
                width:80px;
                height:80px;
                margin-left: 10px;    
            }
            &-icon{
                width:65px;
                height:65px;
                &:hover{
                    transform: scale(1.15);
                }
            }
        }
    } 
    .nav{
        &-ctn{
            width:75%;
            max-width:300px;
            justify-content:flex-end;
        }
        &-list{
            &-desktop{
                display: none;
            }
            &-icon{
                margin-right: 25px;
                width:60%;
            }
        }
        &-three-bars-icon{
            display:block;
        }
    }
}