.home {
    &-ctn {
        width: 70%;
        min-width: 1400px;
        margin: auto;
    }

    &-intro-ctn {
        width: 45%;
        animation: openHomeIntro 2s both;
    }

    &-titles-ctn {
        width: 90%;
    }

    &-img-ctn {
        width: 45%;
        animation: openHomePortrait 2s both;
    }

    &-h1 {
        font-family: 'Rubik-Bold';
        font-size: 44px;
        font-weight: 500;
        margin-block-start: 0.4em;
        margin-block-end: 0.4em;
        //color:$grey-medium;
        background: linear-gradient(90deg, $grey-medium, $blue-medium);
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    &-h2 {
        font-size: 38px;
        margin-block-start: 0.3em;
        margin-block-end: 0.3em;
        color: $blue-medium;
    }

    &-pitch {
        font-size: 30px;
        width: 90%;
        text-align: justify;
    }

    &-portrait {
        width: 62.5%;
        min-width: 450px;
        height: auto;
    }
}

@keyframes openHomeIntro {
    0% {
        opacity: 0;
        translate: -30px 0px;
    }
    40% {
        opacity: 1;
    }
    100% {        
        translate: 0px 0px;
    }
}

@keyframes openHomePortrait {
    0% {
        opacity: 0;
        translate: 30px 0px;
    }
    40% {
        opacity: 1;
    }
    100% {        
        translate: 0px 0px;
    }
}

@media screen and (max-width:1400px) {
    .home {
        &-ctn {
            width: 100%;
            min-width: 0px;
        }
    }
}

@media screen and (max-width:1023px) {
    .home {
        &-ctn {
            width: 100%;
            flex-direction: column;
            justify-content: flex-start;
        }

        &-intro-ctn {
            width: 90%;
            margin-top: 5px;
        }

        &-titles-ctn {
            width: 100%;
            justify-content: center;
        }

        &-img-ctn {
            width: 90%;
            margin-bottom: 50px;
        }

        &-h1 {
            font-size: 34px;
        }

        &-h2 {
            font-size: 30px;
        }

        &-pitch {
            font-size: 25px;
        }

        &-portrait {
            width: 80%;
            min-width: 100px;
            max-width: 350px;
        }
    }
}