@import './font.scss';
@import './variables.scss';
@import './displayFlex.scss';
@import './header.scss';
@import './footer.scss';
@import './home.scss';
@import './contact.scss';
@import './modal.scss';
@import './about.scss';
@import './projects.scss';
@import './cardMobile.scss';
@import './cardDesktop.scss';
@import './drawings.scss';
@import './error.scss';
@import './cv.scss';
@import './credits.scss';

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

#root {
  font-family:'Nunito-Regular';
  width: 100%;
  min-height: 900px;
  //animation: openRoot 3s both;
}

.page{
  width:100%;
  min-height: 1050px;
  height:auto;
  background-image: url('../assets/paper-texture LD.jpg');
}

@keyframes openRoot {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}