@import './font.scss';
@import './displayFlex.scss';
@import './header.scss';
@import './footer.scss';
@import './home.scss';
@import './contact.scss';
@import './modal.scss';
@import './about.scss';
@import './project.scss';
@import './card.scss';
@import './drawings.scss';

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position:relative;
  
}

#root {
  font-family:'Nunito-Regular';
  width: 100%;
  min-height: 900px;
  background-image: url('../assets/striped-wood-texture.jpg');
  background-size:auto;
}

.page{
  width:100%;
  min-height: 800px;
  background-image: url('../assets/paper-texture HD.jpg');
  box-shadow: 0 -10px 10px rgba(0,0,0,0.4);
}

