@import './font.scss';
@import './variables.scss';
@import './displayFlex.scss';
@import './header.scss';
@import './footer.scss';
@import './home.scss';
@import './contact.scss';
@import './about.scss';
@import './projects.scss';
@import './cardMobile.scss';
@import './cardDesktop.scss';
@import './drawings.scss';
@import './error.scss';
@import './cv.scss';
@import './credits.scss';

body {
  margin: 0;
  box-sizing: border-box;
  font-family:'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

#root {
  font-family:'Nunito-Regular';
  width: 100%;
}

.page{
  width:100%;
  min-height:1037px;
  height:auto;
  z-index:1;
}

