.projects{
    &-desktop-ctn{
        width:70%;
        margin-top: 200px;
    }
    &-mobile-ctn{
        margin-top: 155px;
        width:90%;
    }
}

@media screen and (max-width:1400px){
    .projects{
        &-desktop-ctn{
            width:100%;
        }
    }
}

@media screen and (min-width:1023px) {
    .projects{
        &-mobile-ctn{
            display: none;
        }
    }
}

@media screen and (max-width:1023px) {
    .projects{
        &-desktop-ctn{
            display: none;
        }
    }
}